/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top:100;
  padding-bottom: 40px;
  color: #5a5a5a;
}

.centered{
    float: none;
    margin: 0 auto;
}

label{
  background:white;
}

.header{
    margin-top:75px;
}

.logo{
  background: white url(../img/io_logo.png) no-repeat top left fixed;
  background-size: 53px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading-right {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  width: 50%;
  display: inline-block;
  margin-left: 4px;
  padding-left: 42px;
}

  /* vertical align text in feature header*/
.featurette-heading-left {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  width: 49%;
  display: inline-block;
  padding-right: 30px
}

.featurette-image-left{
  width: 48%;
  display: inline-block;
  max-width: 46%;
}

.featurette-image-right{
  width: 50%;
  display: inline-block;
  max-width: 40%;
  margin-left: 23px;
}

.smallimage{

  vertical-align:inherit;
}


/* RESPONSIVE CSS
-------------------------------------------------- */




@media (min-width: 768px) {



  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }



}


@media (min-width: 1200px) {

  .marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
    width:inherit;
  }
  
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }



}


